:root {
  --nat-navbar-bg: #222a40;
  --nat-navbar-bg-rgb: 34, 42, 64;
  --nat-navbar-text-color: white;
  --nat-navbar-highlight-text: #9c9c9c;
  --nat-navbar-text-color: #d2d2d2;
}

html,

body {
  --bs-dark: var(--nat-navbar-bg);
  --bs-dark-rgb: var(--nat-navbar-bg-rgb);
  --bs-light-rgb: 236, 236, 236;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  background: fixed center url("/light-blue-bg.jpg");
  background-size: cover;
}

body .navbar {
  --bs-navbar-active-color: var(--nat-navbar-highlight-text);
  --bs-navbar-brand-color: var(--nat-navbar-text-color);
  --bs-navbar-brand-hover-color: var(--nat-navbar-highlight-text);
  --bs-navbar-color: var(--nat-navbar-text-color);
  --bs-navbar-hover-color: var(--nat-navbar-highlight-text);
}

.bg-dark a.dropdown-item {
  color: var(--nat-navbar-bg);
}

footer, footer a {
  color: var(--nat-navbar-text-color);
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
